k8s-in-aws/.terraform*
k8s-in-gcp/.terraform*
k8s-in-azure/.terraform*
*terraform.tfstate*
k8s-in-azure/account.json
k8s-in-gcp/account.json
credentials/acc*
credentials/astra.tfvars
credentials/gcp.tfvars
credentials/azure.tfvars
credentials/ansible_vars.yaml
.gitignore
*/*.orig
spotbyNetApp/*
astracontrol/manifests/*
delivery/kubeconfig-*
